



<%= render partial: "/users/summary", locals: {user: @user} %>
<br>
<% if current_user && current_user.id==@user.id %>
<h1>My Posts</h1>
<% else %>
<h1><%= @user.username %>'s Posts</h1>
<% end %>
<hr>
<% if @user.posts.size>0 %>







<% @user_posts.each do |post| %>

        <%= render partial: "/posts/post", locals: {post: post}%>

<% end %>

<div class="pagination justify-content-center">
<%= will_paginate @user_posts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer%>
</div>


<% else %>

<div class='card'>
<div class='card-body text-center'>

<% if current_user && current_user.id==@user.id %>
<h4>
This place feels a little empty. Why not create your first post?
</h4>
<%= link_to "Create Post", new_post_path, :class=>"btn btn-dark btn-lg", :id=>"newUserCreatePost" %>
<% else %>
Nothing to see here :(
<% end %>
</div>
</div>
<br>

<%end%>




<% if current_user && current_user.id==@user.id %>
<h1>My Starred Posts</h1>
<% else %>
<h1><%= @user.username %>'s Starred Posts</h1>
<% end %>
<hr>


<div class='card'>
<div class='card-body text-center'>
<h4>
<%= @user.username %> has starred <b><%= @user.find_liked_items.size %></b> 
<% if @user.find_liked_items.size==1 %>
post
<% else %>
posts
<% end %>

</h4>
<br>


<%= link_to "View Posts", starred_list_user_path(@user), :class=>"btn btn-dark btn-lg"%>
</div>
</div>
<br>






