<% if @user.posts.size>0 %>
<% words = 0 %>
<% entries = 0 %>
<% @user.posts.each do |post| %>
    <% words+=post.body.split.size %>
    <% entries+=1 %>
<% end %>
<div class='card'>
    <div class='card-body text-center'>
<h4>
<% if current_user && @user.id == current_user.id %>
    I have
<% else %>
    <%= @user.username %> has
<% end %>
written <strong><%= entries %></strong> 

<% if entries==1 %>
entry
<% else %>
entries
<% end %>

so far with a cumulative word count of <strong><%= words %></strong> and an average word count of <strong><%= words/entries %></strong> per entry.
</h4>
</div>
</div>
<br>



<table id='postprofile' style="width:100%">
<thead>
<tr>
<% if current_user && current_user.id==@user.id %>
<th><h1>My Posts</h1></th>
<% else %>
<th><h1><%= @user.username %>'s Posts</h1></th>
<% end %>
</tr>
</thead>
<tbody>
<% @user.posts.each do |post| %>
    <tr>
    <td>
    <div class='card'>
    <div class='card-body'>
    



    <div>
    <div class="display-inline ">
    <h3><%= link_to "#{post.title} (#{post.body.split.size} words)" , post_path(post), :class => "black-link"%>
    <% if current_user && current_user.id==@user.id %>

    
    <%= link_to '<i class="fas fa-edit "></i>'.html_safe, edit_post_path(post) %>


<%= link_to '<i class="far fa-times-circle "></i>'.html_safe, post_path(post),
                        method: :delete,
                        data: {confirm: "Are you sure?"} %>
                        
    <% end %></h3>
    </div>
    
                        <br>
                        <br>
                        <%= render 'category', post_category: post.category%>
                        <%if false %>
                        <a class='btn btn-deep-purple'><%= post.category%></a>
                        <%end%>
                        <a class='btn btn-light'><%= post.created_at.strftime("%d/%m/%Y")%></a>
                        <a class='btn btn-light'><%= distance_of_time_in_words(post.created_at,Time.now)%> ago</a>



</div>
    </div>
    </div>
    <br>

    </td>
    </tr>
<% end %>
</tbody>
</Table>


<% else %>

<div class='card'>
<div class='card-body text-center'>
<h4>
This place feels a little empty. Why not create your first post?
</h4>
<%= link_to "Create Post", new_post_path, :class=>"btn btn-dark btn-lg", :id=>"newUserCreatePost" %>
</div>
</div>
<br>

<%end%>

<table id='votes' style="width:100%">
<thead>
<tr>
<% if current_user && current_user.id==@user.id %>
<th><h1>My Starred Posts</h1></th>
<% else %>
<th><h1><%= @user.username %>'s Starred Posts</h1></th>
<% end %>
</tr>
</thead>
<tbody>
<% @user.find_liked_items.each do |post| %>
    <tr>
    <td>
    <div class='card'>
    <div class='card-body'>
    



    <div>
    <div class="display-inline ">
    <h3><%= link_to "#{post.title} (#{post.body.split.size} words)" , post_path(post), :class => "black-link"%>
    </h3>
    </div>
    
                        <br>
                        <br>
                        <%= link_to post.user.username, user_path(post.user), :class=>'btn btn-dark'%>
                        <%= render 'category', post_category: post.category%>
                        <%if false %>
                        <a class='btn btn-deep-purple'><%= post.category%></a>
                        <%end%>
                        <a class='btn btn-light'><%= post.created_at.strftime("%d/%m/%Y")%></a>
                        <a class='btn btn-light'><%= distance_of_time_in_words(post.created_at,Time.now)%> ago</a>



</div>
    </div>
    </div>
    <br>

    </td>
    </tr>
<% end %>
</tbody>
</Table>




<% if current_user && current_user.id==@user.id %>
<div>
<%= link_to "Edit Profile",  edit_user_registration_path, :class=>"btn btn-primary btn-lg" %>
</div>
<% end %>
<br>

