<% if post.errors.any? %>
        <% post.errors.full_messages.each do |msg| %>
            <div class="alert alert-danger"><%= msg %></div>
        <% end %>
    <% end %>


    <p>
    <%= f.label :title %><br>
    <%= f.text_field(:title, {:class => "form-control"})%>
    </p>
    <p>
    <%= f.label :category %><br>
    
    <%= f.select(:category, ['GP Essay', 'Non-GP Essay', 'Poetry','Story (Fiction)','Story (Non-Fiction)','Others'],{},{:class => "form-control browser-default custom-select"})%>
    </p>

    <p>
    <%= f.label "tl;dr (Maximum 140 characters)" %><br>
    <%= f.text_area(:tldr, {:class => "form-control ", :id => "tldr_text"}) %>
    Chars left: <span id="counter1"></span>
    </p>

    <p>
    <%= f.label "#{:body} (Minimum 100 words)" %><br>
    <%= f.text_area(:body, {:class => "form-control textarealg"}) %>
    </p>

    <p>
    <%= f.submit({:class => "btn btn-primary"}) %>
    </p>