<div class='card'>
    <div class="ribbon"></div>


    <div class='card-body display-flex'>




    <div class='star-div' id="star_div_<%=post.id%>">

    <div class='star-div-1' id="star_div_1_<%=post.id%>">
    <% if (current_user && (current_user.liked? post)) %>
    <h4 class='fa-star-wrapper'>
    <%= link_to '', unstar_post_path(post), remote:true, id:"star_#{post.id}", class:"fas fa-star starred" %>
    </h4>
    <% else %>
    <h4 class='fa-star-wrapper'>
    <%= link_to '', star_post_path(post), remote:true, id:"star_#{post.id}",class:"fas fa-star unstarred" %>
    </h4>
    <% end %>
    <div class="fa-star-text" id="stars_<%=post.id%>"><h4 class='star-text'><%= post.get_upvotes.size %></h4></div>
    </div>

    




    </div>

  
    <div class='vertical-border'></div>
    <div class='post-content'>

    <h4 class="card-title">
    <%= link_to "#{post.title} (#{post.body.split.size} words)", post_path(post), :class => 'black-link' %>
    
    
    </h4>
    <p class="card-text"><%= post.tldr %></p>
    <div class="post-preview-container">
    <%= link_to post.user.username, user_path(post.user), :class=>'btn btn-dark btn-tags'%>
    <%= render 'users/category', post_category: post.category%>
    <a class='btn btn-outline-info waves-effect btn-tags'><%= post.created_at.strftime("%d/%m/%Y")%></a>
    <a class='btn btn-outline-info waves-effect btn-tags'><%= distance_of_time_in_words(post.created_at,Time.now)%> ago</a>
    
    </div>

        
    </div>
    <div class='vertical-border'></div>
    <div class='edit-del-div'><h4><%= render partial: "/posts/editdelbtn", locals: {post: post} %><h4></div>
    </div>

</div>
<br>




