
<h1>All Posts</h1>

<%= search_form_for @q do |f| %>
    <%= f.label "search entries" %>
    <%= f.search_field :tldr_or_title_or_category_or_user_username_cont, :placeholder=>"title, category, user etc.", :class=>"form-control" %>
<% end %>
<hr>

<% @posts.each do |post| %>

    <%= render partial: "/posts/post",locals: {post: post}%>

<% end %>
<div class="pagination justify-content-center">
<%= will_paginate @posts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer%>
</div>

