
<table id='example' style="width:100%">
<thead>
<tr>
<th><h1>All Posts</h1></th>
</tr>
</thead>
<tbody>
<% @posts.each do |post| %>
    <tr>
    <td>
    <div class='card'>
    <div class='card-body'>
    <h3 class="card-title"><%= link_to post.title, post_path(post), :class => 'black-link' %></h3>
    <p class="card-text"><%= post.tldr %></p>
    <div class="post-preview-container">
    <%= link_to post.user.username, user_path(post.user), :class=>'btn btn-dark'%>
    <a class='btn btn-light'><%= post.created_at.strftime("%d/%m/%Y")%></a>
    <a class='btn btn-light'><%= distance_of_time_in_words(post.created_at,Time.now)%> ago</a>
    </div>
    </div>

    </div>
    <br>
    </td>
    </tr>
<% end %>
</tbody>
</Table>



<script>$(document).ready(function() {
    $('#example').DataTable({
        "dom": 'rti<"bottom"p<"clear">>',
        "bFilter": false,
        "pageLength": 5,
        "ordering": false
    });
} );</script>
