

<div class='card'>

    <div class='card-body'>
    <h4 class="card-title"><%= @post.title %> (<%= @post.body.split.size %> words)</h4>
    <div>

    <%= link_to @post.user.username, user_path(@post.user), :class=>'btn btn-dark btn-tags'%>
    <%= render 'users/category', post_category: @post.category%>
    <a class='btn btn-light btn-tags'><%= @post.created_at.strftime("%d/%m/%Y")%></a>
    <a class='btn btn-light btn-tags'><%= distance_of_time_in_words(@post.created_at,Time.now)%> ago</a>
    
    </div>
    <div class="form-body">
    
    <p class="card-text"><%= simple_format(@post.body) %></p>
    <p class="card-text">(<%= @post.body.split.size %> words)</p>

    <h5 class="card-text"><b>tl;dr</b> <%= @post.tldr %></h5>
    </div>
    <br>
    <div class="display-inline">

    
    
    <% if(current_user && @post.user==current_user) %>
<div class="floatright">
<%= link_to "Edit", edit_post_path(@post), :class => "btn btn-default btn-tags" %>
<%= link_to "Delete", post_path(@post),
                        method: :delete,
                        data: {confirm: "Are you sure?"}, 
                        :class => "btn btn-danger btn-tags" %>
</div>
<% end %>

</div>
</div>
</div>



<hr>
   
    
   
<%= link_to "Back to Home", home_path, :class => "btn btn-primary" %>
<hr>



<h3>Comments (<%= @post.comments.size %>)</h3>
<hr>
<% @post_comments.each do |comment| %>

    <div class='card'>
    <div class='card-body'>
    
    <p><strong><%= comment.username %></strong> <%= distance_of_time_in_words(comment.created_at,Time.now)%> ago </p>
    
    <p><%= comment.body %></p>


    <% if(current_user && comment.user_id == current_user.id) %>
    <%= link_to 'delete', [comment.post,comment], method: :delete,
    data: {confirm: "Are you sure?"}, :class => 'btn btn-danger btn-tags' %>
    <% end %>
    </div>
    </div>
    
<% end %>
<br>
<div class="pagination justify-content-center">
<%= will_paginate @post_comments, renderer: WillPaginate::ActionView::BootstrapLinkRenderer%>
</div>



<h3>Add Comment</h3>
<hr>
<%= form_for([@post, @post.comments.build]) do |f| %>
    <p>
        <%= f.label :username %><br>
        <% if(current_user) %>
        <%= f.text_field(:username, {:class => 'form-control', value: current_user.username,:placeholder => "#{current_user.username}"})%>
        <% else %>
        <%= f.text_field(:username, {:class => 'form-control'}) %>
        <% end %>
    </p>
    <p>
        <%= f.label :body %><br>
        <%= f.text_area(:body, {:class => 'form-control'}) %>
    </p>
    <p>
        <%= f.submit({:class => 'btn btn-default'}) %>
    </p>
<% end %>
<%= hidden_field_tag :action_name, "showusers" %>








