$("#star_<%= @post.id%>").removeClass('starred').addClass('unstarred')
$("#star_<%= @post.id%>").attr("href", "<%=star_post_path(@post)%>")
$("#stars_<%= @post.id%>").html("<h4 class='star-text'><%=@post.get_upvotes.size%></h4>")