<!DOCTYPE html>
<html>
  <head>
    <title>Opus20</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track'=>false%>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.16.0/css/mdb.min.css" %>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.16.0/js/mdb.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'main' %>
    <%= javascript_include_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js' %>
    
    <%= javascript_include_tag  "https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" %>
    <%= javascript_include_tag "https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" %>
    <%= stylesheet_link_tag "https://use.fontawesome.com/releases/v5.0.4/css/all.css"%>
    </head>

  <body>

  <%= render "layouts/alerts" %>


<nav id="navbar" class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href=<%= about_path%>>Opus</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active"><%= link_to "Home", home_path,class: "nav-text nav-link"%> </li>

      <li class="nav-item"><%= link_to "Create Post", new_post_path,class: "nav-text nav-link"%> </li>

    </ul>

 
    <% if current_user %>
    <ul class="navbar-nav navbar-right">
      <li class='nav-item'><%= link_to "Profile", user_path(current_user),class: "nav-text nav-link" %></li>
   

      <li class="nav-item"><%= link_to "Sign Out", destroy_user_session_path,class: "nav-text nav-link", method: :delete %></li>
    </ul>
    <% else %>
    <ul class="navbar-nav navbar-right">
      <li class="nav-item"><%= link_to "Sign Up", new_user_registration_path,class: "nav-text nav-link" %> </li>
      <li class="nav-item"><%= link_to "Log in", new_user_session_path,class: "nav-text nav-link" %> </li>
    </ul>
    <% end %>
  
    
  </div>
</nav>


<br>
<br>
<br>
<br>

<%= render "layouts/alerts" %>
<div class='container'>

    <%= yield %>
    </div>
  </body>
</html>


